### **Exercise 1:**
The Recamán sequence is a famous sequence invented by the Colombian mathematician, Bernardo Recamán Santos. It is defined by the following algorithm, starting at $a_0=0$:

$ a_n=a_{n-1}−n$ if $a_{n-1}-n > 0  $ and has not already appeared in the sequence; 

$ a_n=a_{n−1}+n$ otherwise

Write a function that returns the first N elements of this sequence.

In [56]:
def Recaman_sequence(a0, n):
    l=[0]
    for i in range(n):
        if a0-i > 0 and (a0-i) not in l:
            l.append(a0-i)
        else:
            l.append(a0+i)
        a0 = a0+i
        i = i+1
    return l
    
print(Recaman_sequence(0, 10))
#print(l)

[0, 0, 1, 3, 6, 2, 5, 9, 14, 20, 27]

### **Exercise 2:**
Write a function to solve a quadratic equation.

In [41]:
def func(a, b, c):
    delta = b**2 - 4*a*c
    if delta > 0:
        r1 = (-b + delta**(1/2))/(2*a)
        r2 = (-b - delta**(1/2))/(2*a)
        return r1, r2
    elif delta == 0:
        r1 = b/(2*a)
        return r1
    else:
        print('there is no solution')
print(func(1,3,1))

(-0.3819660112501051, -2.618033988749895)

### **Exercise 3**
Print the list `mylist` sorted in descending order. The original list should not be modified

In [64]:
mylist=[1,-99,89,0,234,77,-748,11]
print("sorted mylist", sorted(mylist))

sorted mylist [-748, -99, 0, 1, 11, 77, 89, 234]

In [63]:
mylist.sort()
print(mylist)

[-748, -99, 0, 1, 11, 77, 89, 234]

### **Exercise 4:**
Given 2 lists, produce a list containing common items between the two.

In [70]:
mylist1={1,-99,89,0,234,77,-748,11}
mylist2={7,2,-99,3,4,5,6, -748}
empty = mylist1 & mylist2
print(empty)
empty = mylist1.intersection(mylist2)
print(empty)

{-748, -99}
{-748, -99}

### **Exercise 5:**
Create a function that returns a list of all pairs of factors (as tuples) of a given number using list comprehension.

In [ ]:
def pairs(a,b):
    l=[0]
    for x in range(5) for y in range(5):
        if i < 1000 and i%3 == 0:
            l.append(i)
        i = i+1
    return l
print(pairs(1000))

In [91]:
print( [(x,y) for x in range(5) for y in range(5) if x+y<4])

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (3, 0)]

### **Exercise 6:**
Create a list of all numbers divisible by 3 and smaller than 1000 in 4 different ways:
 
 - naive way where you just create a list and append data in a loop
 - using list comprehension
 - slicing an existing list
 - directly with `range()`

Time all of them.

In [74]:
def Recaman_sequence(n):
    l=[0]
    for i in range(n):
        if i < 1000 and i%3 == 0:
            l.append(i)
        i = i+1
    return l
print(Recaman_sequence(1000))

[0, 0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [89]:
print( [3*x for x in range(334)] )

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

### **Exercise 7:**
Write a function to check if a string (containing spaces and capital letters, but no punctuation marks) is a palindrome (use help to see which functions are available for a string).

### **Exercise 8:**
Write a function to find a character with a maximum number of occurences in a string. Return a tuple with that character and the number. You can ignore ties. Only use string's inbuilt functions and the function `max` (use help to see how to use it).

### **Exercise 9:**
Write a function that return the first N prime numbers using the Sieve of Eratosphenes algorithm

https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes

In [1]:
!pwd

/home/Arrow/newgitnest/ScientificPython_diploma23